{% extends "base.html" %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col">
        <h3><a onclick="window.open('{{ listing.url }}', 'listing');" href="javascript:;">
            {{ listing.title }}
        </a></h3>
      </div>
    </div>
    {% if form.errors %}
      <div class="row">
        <div class="alert alert-danger col">
          <h5>Error in form.</h5>
          <ul>
          {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
              <li>{{ form[field_name].label.text }}: {{ error}}</li>
            {% endfor %}
          {% endfor %}
          </ul>
        </div>
      </div>
    {% endif %}
    <form method="post" action="">
      {% for field in form %}
        <div class="form-group row">
          {{ field.label(class_="col-form-label col-sm-2") }}
          {{ field(class_="form-control col-sm-10") }}
        </div>
      {% endfor %}
      <div class="form-group row">
	<div class="col">
          <a class="btn btn-primary" href="/">Back</a>
        </div>
	<div class="col">
          <button class="btn btn-primary float-right" type="submit">Update</button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
